backend/__pycache__/youtube_client.cpython-39.pyc
frontend/__pycache__/utils.cpython-39.pyc
backend/__pycache__/chunker.cpython-39.pyc
backend/__pycache__/recommender.cpython-39.pyc
backend/__pycache__/utils.cpython-39.pyc
.DS_Store
